body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 90%;
  padding: 20px;
  border: 2px solid #555;
  border-radius: 10px;
  background: #222;
}

.gallery {
  display: flex;
  gap: 15px;
}

.gallery-img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  transition
body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 90%;
  padding: 20px;
  border: 2px solid #555;
  border-radius: 10px;
  background: #222;
}

.gallery {
  display: flex;
  gap: 15px;
}

.gallery-img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  transition
